<div class="mb-4">
    <label class="mb-2 block" for="">
        Who owns the trademark:
        <i [pTooltip]="tooltipContent" tooltipPosition="right" tooltipStyleClass="tooltip-wide"
           class="pi pi-info-circle mr-2"></i>
        <ng-template #tooltipContent>
            <p class="p1"><strong>Who is the rightful owner of the trade mark?</strong></p>
            <p class="p1"><strong>It&rsquo;s important to spend time to consider who is the owner of the trade
                mark.</strong></p>
            <p class="p1">A trade mark can be owned by an <strong>individual/ sole trader</strong> or <strong>by a
                business/ company</strong>.</p>
            <p class="p1"><strong>Individual/ Sole Trader</strong></p>
            <p class="p1">If you are a sole trader, then you need to complete the section &ldquo;individual/ sole trader&rdquo;
                with an Australian Business Number (ABN) if you have one.</p>
            <p class="p1">If not, your name on your drivers licence or passport would be fine without an ABN number.</p>
            <p class="p1"><strong>Business/ Company</strong></p>
            <p class="p1">If you are operating a business/ company, then you need to complete &ldquo;business/company&rdquo;
                section with an Australian Company Number (ACN).</p>
            <p class="p1">If you are unsure, you can click the box for us to call you to double check!</p>
            <p>[ ] Please call me to double check</p>
            <p class="p1"><a href="tel:(02) 9393 0391">(02) 9393 0391</a></p>
        </ng-template>
    </label>
    <div>
        <p-select [options]="stateOptions" [(ngModel)]="formData.contact.ownershipType"
                         optionLabel="label" optionValue="value"
                         aria-labelledby="basic" (ngModelChange)="formService.onSelectType()"/>
    </div>
</div>
<form #myForm="ngForm" (change)="formService.save()" (ngSubmit)="onSubmit($event, myForm)">
    <div class="mb-3"></div>
    <p-card>
        @if (formData.contact.ownershipType !== 2) {
            <p-fieldset legend="Details">
                <div class="formgrid grid">

                    <div class="field col">
                        <p-iftalabel>
                            <input #name="ngModel" [(ngModel)]="formData.company.businessName" name="name"
                                   class="ng-dirty w-full" required
                                   [class.ng-invalid]="formService.isValidField(name, myForm)"
                                   placeholder="" pSize="large" pInputText id="field_1"/>
                            <label for="field_1">Name of trademark owner&nbsp;<span
                                    class="text-red-400">*</span></label>
                        </p-iftalabel>
                        @if (formService.isValidField(name, myForm)) {
                            <p-message class="mt-2" severity="error" variant="simple" size="small">Name
                                is required
                            </p-message>
                        }
                    </div>
                    @if (formData.contact.ownershipType === 1 || formData.contact.ownershipType === 3) {
                        <div
                                [class.col-6]="formData.contact.ownershipType === 3"
                                class="field col">
                            <p-iftalabel>
                                <input #acn="ngModel" [(ngModel)]="formData.company.australianCompanyNumber" name="acn"
                                       placeholder="" [required]="true" pSize="large" pInputText id="field_2"
                                       class="ng-dirty w-full" required
                                       [class.ng-invalid]="formService.isValidField(acn, myForm)"
                                />
                                <label for="field_2">
                                    ACN
                                    @if (formData.contact.ownershipType === 3) {
                                        <span> of company</span>
                                    }
                                    &nbsp;<span class="text-red-400">*</span>
                                </label>
                            </p-iftalabel>
                            @if (formService.isValidField(acn, myForm)) {
                                <p-message class="mt-2" severity="error" variant="simple" size="small">
                                    ACN is required
                                </p-message>
                            }
                        </div>
                    }
                    @if (formData.contact.ownershipType === 3) {
                        <div class="field col-6">
                            <p-iftalabel>
                                <input #name="ngModel" [(ngModel)]="formData.company.businessName" name="name"
                                       class="ng-dirty w-full" required
                                       [class.ng-invalid]="formService.isValidField(name, myForm)"
                                       placeholder="" pSize="large" pInputText id="field_1"/>
                                <label for="field_1">Name of trust&nbsp;(the trustee can be an individual or a
                                    company)<span class="text-red-400">*</span></label>
                            </p-iftalabel>
                            @if (formService.isValidField(name, myForm)) {
                                <p-message class="mt-2" severity="error" variant="simple" size="small">Name
                                    is required
                                </p-message>
                            }
                        </div>
                    }
                    @if (formData.contact.ownershipType === 0 || formData.contact.ownershipType === 2 || formData.contact.ownershipType === 3) {
                        <div
                                [class.col-6]="formData.contact.ownershipType === 3"
                                class="field col">
                            <p-iftalabel>
                                <input #abn="ngModel" [(ngModel)]="formData.company.businessNumber" name="abn"
                                       class="w-full" placeholder="" pSize="large" pInputText id="field_2"/>
                                <label for="field_2">
                                    ABN
                                    @if (formData.contact.ownershipType === 3) {
                                        <span> of trust name</span>
                                    }
                                </label>
                            </p-iftalabel>
                        </div>
                    }
                </div>
            </p-fieldset>
        }

        <div class="mb-3"></div>
        @if (formData.contact.ownershipType !== 2) {
            <app-contacts [myForm]="myForm"></app-contacts>
        }
        @if (formData.contact.ownershipType === 2) {
            <app-partnership-contacts [myForm]="myForm"></app-partnership-contacts>
        }

        <div class="mb-3"></div>

        <p-fieldset>
            <ng-template #header>
                <div>
                    @switch (formData.contact.ownershipType) {
                        @case (0) {
                            Address for individual/ soletrader
                            <i pTooltip="please be aware that it is on a public database" tooltipPosition="right"
                               class="pi pi-info-circle mr-2"></i>
                        }
                        @case (1) {
                            Address for business
                            <i pTooltip="please be aware that it is on a public database" tooltipPosition="right"
                               class="pi pi-info-circle mr-2"></i>
                        }
                        @case (2) {
                            Address for partnership
                            <i pTooltip="please be aware that it is on a public database" tooltipPosition="right"
                               class="pi pi-info-circle mr-2"></i>
                        }
                        @case (3) {
                            Address for trustee
                            <i pTooltip="please be aware that it is on a public database" tooltipPosition="right"
                               class="pi pi-info-circle mr-2"></i>
                        }
                        @default {
                            Address
                        }
                    }
                </div>
            </ng-template>
            <div class="formgrid grid">
                <div class="field col">
                    <p-iftalabel>
                        <p-select
                            #country="ngModel" [(ngModel)]="formData.address.countryCode" name="country"
                            [options]="formService.countries"
                            optionLabel="name" [filter]="true" optionValue="Code2" filterBy="Name" id="field_3"
                            [showClear]="true" placeholder="Select a Country" class="w-full md:w-56">
                            <ng-template #selectedItem let-selectedOption>
                                <div class="flex items-center gap-2">
                                    <img src="/assets/images/flag_placeholder.png"
                                         [class]="'flag flag-' + selectedOption.Code2?.toLowerCase()"
                                         style="width: 18px"/>
                                    <div>{{ selectedOption.Name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country #item>
                                <div class="flex items-center gap-2">
                                    <img src="/assets/images/flag_placeholder.png"
                                         [class]="'flag flag-' + country.Code2.toLowerCase()"
                                         style="width: 18px"/>
                                    <div>{{ country.Name }}</div>
                                </div>
                            </ng-template>
                        </p-select>
                        <label for="field_3">Country of residence<span class="text-red-400">*</span></label>
                    </p-iftalabel>
                </div>
                <div class="field col">
                    <p-iftalabel>
                        <input #state="ngModel" [(ngModel)]="formData.address.region" name="state"
                               class="ng-dirty w-full" required
                               [class.ng-invalid]="formService.isValidField(state, myForm)"
                               placeholder="" pSize="large" pInputText id="field_4"/>
                        <label for="field_4">State or Region&nbsp;<span class="text-red-400">*</span></label>
                    </p-iftalabel>
                    @if (formService.isValidField(state, myForm)) {
                        <p-message class="mt-2" severity="error" variant="simple" size="small">
                            State is required
                        </p-message>
                    }
                </div>
            </div>

            <div class="field">
                <p-iftalabel>
                    <input #address="ngModel" [(ngModel)]="formData.address.address" name="address"
                           class="ng-dirty w-full" required
                           [class.ng-invalid]="formService.isValidField(address, myForm)"
                           placeholder="" pSize="large" pInputText id="field_5"/>
                    <label for="field_5">Street address&nbsp;<span class="text-red-400">*</span></label>
                </p-iftalabel>
                @if (formService.isValidField(address, myForm)) {
                    <p-message class="mt-2" severity="error" variant="simple" size="small">
                        Address is required
                    </p-message>
                }
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <p-iftalabel>
                        <input #city="ngModel" [(ngModel)]="formData.address.city" name="city"
                               class="ng-dirty w-full" required
                               [class.ng-invalid]="formService.isValidField(city, myForm)"
                               placeholder="" pSize="large" pInputText id="field_6"/>
                        <label for="field_6">City / Suburb&nbsp;<span class="text-red-400">*</span></label>
                    </p-iftalabel>
                    @if (formService.isValidField(city, myForm)) {
                        <p-message class="mt-2" severity="error" variant="simple" size="small">City
                            is required
                        </p-message>
                    }
                </div>
                <div class="field col">
                    <p-iftalabel>
                        <input
                            #zip="ngModel" [(ngModel)]="formData.address.postCode" name="zip"
                            class="ng-dirty w-full" required [class.ng-invalid]="formService.isValidField(zip, myForm)"
                            placeholder="" pSize="large" pInputText id="field_7"/>
                        <label for="field_7">Postal code&nbsp;<span class="text-red-400">*</span></label>
                    </p-iftalabel>
                    @if (formService.isValidField(zip, myForm)) {
                        <p-message class="mt-2" severity="error" variant="simple" size="small">ZIP
                            is required
                        </p-message>
                    }
                </div>
            </div>
        </p-fieldset>

        <div class="mb-4"></div>

        <div>
            <div class="mb-3">
                <div class="flex items-center gap-1">
                    <p-checkbox #agree="ngModel" [binary]="true" [(ngModel)]="formService.agree" name="agree"
                                [required]="true" class="ng-dirty" [value]="true" inputId="confirm"/>
                    <label for="confirm" class="ml-2">I acknowledge that:</label>
                </div>
                @if (formService.isValidField(agree, myForm)) {
                    <p-message class="mt-2" severity="error" variant="simple" size="small">You
                        must agree to the terms
                    </p-message>
                }
            </div>
            <p-message severity="info">
                <ul class="text-gray-600">
                    <li>
                        The applicant plans to use the trademark and has the legal right to own it.
                    </li>
                    <li>
                        The Trademark Office will not allow changes to the trademark or associated goods and services
                        after
                        submission.
                    </li>
                    <li>
                        I have reviewed and accept the <a class="text-color"
                                                          href="https://appliedmarks.com/supplier-code-of-conduct/"
                                                          target="_blank">Terms of Use</a> and agree to receive emails
                        as outlined in them.
                    </li>
                </ul>
            </p-message>

        </div>

        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button
                        (click)="onBack.emit()"
                        type="button" label="Back" icon="pi pi-angle-left"
                        [raised]="true" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full"/>
                <p-button
                        type="submit" [loading]="isLoading()" label="Next" icon="pi pi-angle-double-right"
                        [raised]="true" severity="success" class="w-full" styleClass="w-full"/>
            </div>
        </ng-template>
    </p-card>
</form>
