
p-fieldset {
  position: relative;
  .btn-reset {
    position: absolute;
    right: -12px;
    top: 0px;
  }

}
:host ::ng-deep {
  .p-fileupload-file-list, p-progressbar {
    display: none;
  }
}

