<p-table [value]="productService.sourceProducts()" sortField="class" sortMode="single"
  [scrollable]="true" scrollHeight="500px" rowGroupMode="subheader"
  groupRowsBy="name" [tableStyle]="{'width': '100%'}">
  <ng-template #groupheader let-item>
    <tr pRowGroupHeader>
      <td>
        <i class="pi pi-folder-open text-primary small mr-2"></i>
        <small class="text-gray-600"><b>{{item.name}}</b></small>
      </td>
    </tr>
  </ng-template>
  <ng-template #body let-item let-rowIndex="rowIndex">
    <tr>
      <td>
        @for (category of item.categories; track category; let index = $index) {
          @if (index < 10 || item.open) {
            <p-tag
              (click)="add(category, item)"
              class="mr-2 mb-2 cursor-pointer"
              severity="secondary">
              {{category.name}}
              <i class="pi pi-plus-circle ml-2"></i>
            </p-tag>
          }
        }
        @if (item.categories.length > 10 && !item.open) {
          <p-tag
            (click)="showAll(item)"
            class="mr-2 mb-2 cursor-pointer"
            severity="info">
            More...
          </p-tag>
        }
      </td>
    </tr>
  </ng-template>
</p-table>
