<div class="grid">
  <div class="col-6">
    <p-card>
      <p-fieldset legend="Contact info">
        <form #myForm="ngForm" (change)="formService.save()">
          <div class="field">
            <p-iftalabel>
              <input
                #name="ngModel" [(ngModel)]="formData.contact.firstName" name="name"
                class="ng-dirty w-full"
                placeholder="" pSize="large" pInputText id="field_1"/>
              <label for="field_1">Name</label>
            </p-iftalabel>
          </div>
          <div class="field">
            <p-iftalabel>
              <input #email="ngModel" [(ngModel)]="formData.contact.email" name="email"
                class="w-full" placeholder="" pSize="large" pInputText id="field_8"/>
              <label for="field_8">E-mail</label>
            </p-iftalabel>
          </div>
          <div class="field mb-2 flex items-center gap-1">
            <p-checkbox #expedited="ngModel" [binary]="true" (ngModelChange)="onChangeExpedited()" [(ngModel)]="formService.expedited" name="expedited"
              class="ng-dirty" [value]="true" inputId="expedited"/>
            <label for="expedited" class="ml-2">
              Expedited examination
              <i [pTooltip]="tooltipExpedited" tooltipStyleClass="tooltip-wide"
              class="pi pi-info-circle mr-2"></i>
            </label>
          </div>
          <div class="field mb-0 flex items-center gap-1">
            <p-checkbox #privacy="ngModel" [binary]="true" [(ngModel)]="formService.privacy" name="privacy"
              class="ng-dirty" [value]="true" inputId="privacy"/>
            <label for="privacy" class="ml-2">
              Privacy option
              <i pTooltip="Correspondence will be directed to PO BOX 20015, World Square, NSW 2002" tooltipStyleClass="tooltip-wide"
              class="pi pi-info-circle mr-2"></i>
            </label>
          </div>
        </form>
      </p-fieldset>
      <ng-template #footer>
      </ng-template>
    </p-card>

    <img class="w-full" src="/assets/images/payments.png" alt="">
    <p-card header="Pay for trade mark(s) application(s):">
      <div class="pt-2 mb-3">
        <p-button (click)="submit()" [fluid]="true" [loading]="isLoading()"
          severity="primary" class="w-full" size="large" label="Checkout now" icon="pi pi-wallet" />
      </div>
      <p-button
        (click)="onBack.emit()"
        type="button" label="Back" icon="pi pi-angle-left"
        [raised]="true" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full"/>
    </p-card>
  </div>
  <div class="col-6">
    <p-card class="p-card-colored p-card-green text-color-secondary">
      <ng-template #header>
        <h3 class="m-0">
          <div class="grid justify-content-between align-items-center">
            <div class="col py-0">
              <i class="pi pi-shopping-bag pi-x2 mr-2"></i>
              Order summary
            </div>
            <div class="col-fixed py-0">
              {{productService.targetProducts.length}} items
            </div>
          </div>
        </h3>
      </ng-template>


      <div class="grid align-items-center">
        <div class="col">
          <div class="flex align-items-center">
            @if (formService.trademarkType == 'logo') {
              <img width="60" class="mr-2" [src]="formService.uploadedLogoUri" alt="">
            }
            @if (formService.trademarkType == 'words') {
              <strong>{{formData.word.word}}&nbsp;</strong>
            }
            Trademark in AU
          </div>
        </div>
        <!--<div *ngIf="formService.fees() as fees" class="col-fixed">
        <b>AU${{fees?.baseFee}}</b>
      </div>-->
    </div>
    <p-divider></p-divider>
    <div class="order__list">
      <p-timeline [value]="targetProducts" class="w-full">
        <ng-template pTemplate="content" let-event>

          <div class="grid align-items-center" [style.margin-top.px]="-4">
            <div class="col py-0">
              <div class="order__item-name">
                <div>Trade Mark {{event.index + 1}} <span>{{ event.name }}</span> <i pTooltip="*service fee (incl. GST) & govt fees (GST-exempt)" tooltipStyleClass="tooltip-wide" class="pi pi-info-circle mr-2"></i></div>
              </div>
            </div>
            <div class="col-auto py-0">
              <div class="order__item-price">AU${{formService.fees()?.classFee}}</div>
            </div>
          </div>
          <!--<div>
          <ng-template let-tag let-index="index" ngFor [ngForOf]="event.categories">
            <div class="grid align-items-center mt-1">
              <div class="col py-0">
                <div class="order__item-name">
                  <div><span>{{tag.name}}</span></div>
                </div>
              </div>
              <div class="col-auto py-0">
                <div class="order__item-price">AU$400</div>
              </div>
            </div>
          </ng-template>
        </div>-->
      </ng-template>
    </p-timeline>
  </div>
  <p-divider></p-divider>


  <p-fieldset legend="Order price">
    <!--<div class="grid pt-2 align-items-center">
    <div class="col text-gray-600">
      Sub total:
    </div>
    <div class="col-fixed py-0">
      {{subTotal | currency : 'AUD' :'symbol' : '1.0-0'}}
    </div>
  </div>-->
  <div class="grid mb-3 align-items-center">
    <div class="col text-gray-600">
      GST component:
    </div>
    <div [@numberChange]="GST" class="col-fixed py-0">
      {{GST | currency : 'AUD' :'symbol' : '1.0-0'}}
    </div>
  </div>

  <div class="grid align-items-center">
    <div class="col py-0 text-gray-600 font-bold text-lg">
      Total:
    </div>
    <div class="col-fixed py-0 text-lg">
      <b [@numberChange]="total">{{total | currency : 'AUD' :'symbol' : '1.0-0'}}</b>
    </div>
  </div>
</p-fieldset>
</p-card>
</div>
</div>
